.stage__scroller {
  flex: 2;
  max-width: 50vh;
  width: 100%;
}

.stage__playerControls {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  bottom: 0;
  z-index: 0;
}

.stage__playerControlsLabel {
  position: absolute;
  bottom: 20vh;
}

.stage__coverList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.4vh;
  padding: 0 1.4vh;
}

.stage__coverPlaceholder {
  display: inherit;
  background-color: var(--background-dark);
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Maintain aspect ration */
}

.stage__cover {
  transition-property: top, left, right, bottom, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  display: inherit;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

@media(hover: hover) and (pointer: fine) {
  .stage__cover:hover {
    transform: scale(1.05);
  }
}

.stage__cover img {
  width: 100%;
}
