.stage__scroller {
  flex: 2;
  max-width: 50vh;
  width: 100%;
  position: relative;
}

.stage__playerControls {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  bottom: 0;
  z-index: 0;
}

.stage__swipeCheckContainer {
  position: absolute;
  bottom: 12vh;
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stage__coverList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.4vh;
  padding: 0 1.4vh;
}
