.stage__scroller {
  flex: 2;
  max-width: 32rem;
  width: 100%;
}

.stage__playerControls {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  max-height: 180px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.stage__coverList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.8rem;
  padding: 0 1.4rem;
}

.stage__coverPlaceholder {
  display: inherit;
  background-color: var(--background-dark);
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Maintain aspect ration */
}

.stage__cover {
  transition: transform 200ms ease-out;
  display: inherit;
  cursor: pointer;
  position: absolute;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
}

.stage__cover:hover {
  transform: scale(1.05);
}

.stage__cover img {
  width: 100%;
}
