.button {
  background-color: var(--accent-light);
  color: var(--font-light);
  display: inline;
  padding: 0.9rem 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 50px;
}

.button__dark {
  padding: 0.5rem 1.4rem;
  background-color: var(--background-dark);
  font-size: 1.2rem;
}