.cover {
  display: inherit;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
  opacity: 0;
}

.cover img {
  width: 100%;
  image-rendering: pixelated;
}

@media(hover: hover) and (pointer: fine) {
  .cover:hover {
    transform: scale(1.05);
  }
}

.cover__placeholder {
  display: inherit;
  background-color: var(--background-dark);
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}


