.playerControls {
  align-items: center;
  display: flex;
  flex: 2;
}

.playerControls__button {
  color: var(--background-dark);
  display: flex;
  width: 58px;
  height: 58px;
  background-color: var(--font-light);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}