.logo {
  margin: 8vh 0 3rem 0;
  transition: transform 500ms ease-in-out, margin 500ms ease-in-out;
}

.logo--compact {
  transform: scale(0.45);
  margin: 0;
  margin-bottom: -1rem;
  margin-top: -3vh;
}