.logo {
  transition: transform 0.5s ease-out;
  position: absolute;
  transform: scale(0.8) translate3d(0, -2vh, 0);
  width: 100%;
}

.logo--compact {
  transform: scale(0.4) translate3d(0, -41vh, 0);
}
