.scoreBoard {
  flex: 4;
  list-style: none;
  padding: 0;
  width: 86%;
  min-width: 10rem;
  max-width: 40rem;
}

.scoreBoard__response {
  width: 100%;
}

.scoreBoard__responseTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1rem;
  margin-bottom: 0.4rem;
}

.scoreBoard__tag {
  color: var(--accent-light);
  width: 4rem;
}

.scoreBoard__card {
  display: flex;
  align-items: center;
  justify-items: start;
  margin-bottom: 1.6rem;
}

.scoreBoard__songInfo {
  padding: 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.scoreBoard__songTitle {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.scoreBoard__songArtists {
  font-size: 0.8rem;
  opacity: 0.6;
}
