.coverScroll {
  display: block;
  overflow: scroll;
}

.coverScroll__covers {
  list-style: none;
  display: flex;
  padding: 0;
}

.coverScroll__cover {
  border: 2px solid white;
}

.coverScroll__cover_selected {
  border: 2px solid green;
}
