@keyframes ShowUp {
  0% {
    opacity: 0;
    transform: translate(0, 4vh);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes ShowUpOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -4vh);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate__slideUp {
  animation-name: ShowUp;
  transform: translate(0, 4vh);
}

.animate__slideUpOut {
  animation-name: ShowUpOut;
  animation-delay: 0ms;
  transform: translate(0, 0);
  animation-duration: 100ms;
  opacity: 1;
}

.animate__fadeIn {
  animation-name: FadeIn;
}

.animate__fadeOut {
  animation-direction: reverse;
}
