.player {
  padding: 1rem;
  min-height: 6rem;
  align-items: center;
  display: flex;
  flex: 2;
}

.player audio {
  display: none;
}

.player__button {
  color: var(--background-dark);
  display: flex;
  width: 58px;
  height: 58px;
  background-color: var(--font-light);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}