.app {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  align-items: center;
  height: 100vh;
  padding: 1rem 0 3rem 0;
  box-sizing: border-box;
  user-select: none;
  user-zoom: none;
  width: 100%;
  overflow-y: hidden;
}


.app::before {
  content: '';
  background: linear-gradient(0deg, var(--accent-light) 0%, #052414 100%);
  position: absolute;
  top: -20vh;
  left: -100%;
  right: 0;
  height: 60vh;
  z-index: -1;
  border-radius: 50%;
  width: 300%;
}

