.app {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  align-items: center;
  height: 100vh;
  padding: 1rem 0 3rem 0;
  box-sizing: border-box;
  user-select: none;
  user-zoom: none;
}

.app::before {
  content: '';
  background: linear-gradient(0deg, var(--accent-light) 0%, #052414 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 340px;
  z-index: -1;
}
