.app {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  align-items: center;
  height: 100vh;
  padding: 13vh 0 0 0;
  box-sizing: border-box;
  user-select: none;
  user-zoom: none;
  width: 100%;
  overflow: hidden;
}

.app::before {
  content: '';
  background: linear-gradient(0deg, var(--accent-light) 0%, #052414 100%);
  position: absolute;
  top: -24vh;
  left: -30%;
  right: 0;
  height: 60vh;
  z-index: -1;
  border-radius: 50%;
  width: 160%;
}

.app::after {
  content: '';
  background: linear-gradient(0deg, var(--accent-light) 0%, #052414 70%, #061B0E 100%);
  position: absolute;
  left: -50%;
  right: 0;
  height: 100vh;
  z-index: -1;
  border-radius: 50%;
  width: 200%;
  opacity: 0;
  transition: opacity 500ms ease-in;
  transform: translate3d(0,0,0);
}

.app__stage::after {
  opacity: 1;
  bottom: -14vh;
}
