:root {
  --background-dark: #061b0e;
  --font-light: #fff;
  --accent-light: #0C884D;
}

body {
  background-color: var(--background-dark);
  color: var(--font-light);
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
